@import "tailwindcss";

@theme{
  --font-montserrat: 'Montserrat', 'sans-serif';
  --animate-fade-in: fade-in 0.5s ease-in-out forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@layer base{
  @font-face{
    font-family: "Montserrat";
    src: url('/assets/fonts/montserrat/MontserratAlternates-Medium.ttf') format('truetype');
  }
}

@plugin "daisyui" {
  themes: night --default, dark --prefersdark, ligth;
}

